<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
</head>
<body>

<p align="center"><a href=/download/coaches><button class=grey style="height:75px;width:150px">Coaches</button></a></p>
<p align="center"><a href=/download/athlete_info><button class=grey style="height:75px;width:150px">Athletes</button></a></p>
<p align="center"><a href=/download/questionnaire><button class=grey style="height:75px;width:150px">Questionnaires</button></a></p>


</body>
</html>
